<?xml version="1.0" encoding="UTF-8"?> 
 <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="DBConnectionManagerBean" class="edu.asu.spring.quadriga.db.sql.DBConnectionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionDictionaryManagerBean" class="edu.asu.spring.quadriga.db.sql.DBConnectionDictionaryManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
		<bean id="DBConnectionProjectManagerBean"
		class="edu.asu.spring.quadriga.db.sql.DBConnectionProjectManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionCCManagerBean"
		class="edu.asu.spring.quadriga.db.sql.DBConnectionCCManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
 
 <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/Quadriga" />
		<property name="username" value="dbadmin" />
		<property name="password" value="dbadmin" />
	</bean>
</beans>