<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">
	<http pattern="/rest/**" auto-config="true" use-expressions="true" create-session="stateless">
		<intercept-url pattern="/rest/**" access="hasAnyRole('ROLE_QUADRIGA_USER_ADMIN','ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<http-basic/>		
		<!-- <custom-filter ref="digestFilter" after="BASIC_AUTH_FILTER" /> -->
		<csrf disabled="true"/>
	</http>
	<global-method-security pre-post-annotations="enabled"/>
	
	<http auto-config="true" use-expressions="true" disable-url-rewriting="true">
		<access-denied-handler error-page="/forbidden" />
		<headers disabled="true"/>
        <!--<csrf disabled="true"/>-->
       
        
		<intercept-url pattern="/login*" access="permitAll" />
		<intercept-url pattern="/register*" access="permitAll" />
		<intercept-url pattern="/signin/**" access="permitAll" />
		<intercept-url pattern="/connect/**" access="permitAll" />
		<intercept-url pattern="/logout*" access="permitAll" />
		<intercept-url pattern="/createaccount*" access="permitAll" />
		<intercept-url pattern="/resources/**" access="permitAll" />
		<intercept-url pattern="/" access="hasAnyRole('ROLE_QUADRIGA_USER_ADMIN','ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/welcome**" access="hasAnyRole('ROLE_QUADRIGA_USER_ADMIN','ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/home**" access="hasAnyRole('ROLE_QUADRIGA_USER_ADMIN','ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/about**" access="hasAnyRole('ROLE_QUADRIGA_USER_ADMIN','ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/workbench/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/rest/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/conceptcollections/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/conceptdetails/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/transformation/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/searchitems/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/dictionaries/add" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD')"/>
        <intercept-url pattern="/auth/dictionaries/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/editing/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/networks/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/users/**" access="hasRole('ROLE_QUADRIGA_USER_ADMIN')"/>
		<intercept-url pattern="/auth/resolvers/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD')"/>
		<intercept-url pattern="/requests/*" access="hasRole('ROLE_QUADRIGA_NOACCOUNT')"/>
		<intercept-url pattern="/checks/**" access="hasRole('ROLE_QUADRIGA_USER_ADMIN')"/>
		<intercept-url pattern="/auth/profile/**" access="hasAnyRole('ROLE_QUADRIGA_USER_ADMIN','ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/sites/**" access="permitAll" />
		<intercept-url pattern="/public/**" access="permitAll" />
		<intercept-url pattern="/search/**" access="permitAll" />
		<intercept-url pattern="/**" access="denyAll" />
		
		<!--  <form-login login-processing-url="/login/authenticate" login-page="/login" default-target-url="/auth/welcome"
			authentication-failure-url="/loginfailed" authentication-success-handler-ref="authSuccessHandler" /> 
		<logout logout-success-url="/login" invalidate-session="true" /> -->
		<!-- <form-login login-processing-url="/login" login-page="/login" default-target-url="/auth/welcome"
			authentication-failure-url="/loginfailed" authentication-success-handler-ref="authSuccessHandler" /> 
		<logout logout-success-url="/login" invalidate-session="true" /> -->
		<form-login login-page="/login" default-target-url="/auth/welcome"
			authentication-failure-url="/loginfailed" authentication-success-handler-ref="authSuccessHandler" />
		<logout logout-success-url="/login" invalidate-session="true" />
	</http>
	
	<!-- <ldap-server url="ldap://diging.asu.edu:10389" manager-dn="uid=admin,ou=system"
		manager-password="" />  -->
		
	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<beans:bean id="authProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userService" />
		<beans:property name="passwordEncoder" ref="encoder" />
	</beans:bean>
	<authentication-manager alias="authenticationManager" erase-credentials="false">
		<authentication-provider>
		    <user-service>
	       		<user name="${quadriga.admin.username}" password="${quadriga.admin.password}" authorities="ROLE_QUADRIGA_USER_ADMIN" />
	        </user-service>
   		</authentication-provider>
		<authentication-provider ref="authProvider"></authentication-provider>
	</authentication-manager>
	
</beans:beans>