<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="DBConnectionDspaceManagerBean"
		class="edu.asu.spring.quadriga.db.sql.DBConnectionDspaceManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionDictionaryManagerBean"
		class="edu.asu.spring.quadriga.db.sql.dictionary.DBConnectionDictionaryManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
		<bean id="DBConnectionModifyDictionaryManagerBean"
		class="edu.asu.spring.quadriga.db.sql.dictionary.DBConnectionModifyDictionaryManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
			<bean id="DBConnectionRetrieveDictionaryManagerBean"
		class="edu.asu.spring.quadriga.db.sql.dictionary.DBConnectionRetrieveDictionaryManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionDictionaryCollaboratorManagerBean"
		class="edu.asu.spring.quadriga.db.sql.dictionary.DBConnectionDictionaryCollaboratorManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="DBConnectionWorkspaceDictionaryBean"
		class="edu.asu.spring.quadriga.db.sql.workspace.DBConnectionWorkspaceDictionary">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionWorkspaceCCBean"
		class="edu.asu.spring.quadriga.db.sql.workspace.DBConnectionWorkspaceCC">
		<property name="dataSource" ref="dataSource" />
	</bean>

<!-- 
	<bean id="DBConnectionProjectDictionaryBean"
		class="edu.asu.spring.quadriga.db.sql.workbench.DBConnectionProjectDictionary">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionProjectConceptCollecitonBean"
		class="edu.asu.spring.quadriga.db.sql.workbench.DBConnectionProjectConceptColleciton">
		<property name="dataSource" ref="dataSource" />
	</bean>
	 -->
	<bean id="DBConnectionCCManagerBean" class="edu.asu.spring.quadriga.db.sql.conceptcollection.DBConnectionCCManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionModifyCCManagerBean" 
	    class="edu.asu.spring.quadriga.db.sql.conceptcollection.DBConnectionModifyCCManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionCCCollaboratorManagerBean" 
	    class="edu.asu.spring.quadriga.db.sql.conceptcollection.DBConnectionCCCollaboratorManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 
	<bean id="DBConnectionModifyProjCollabManagerBean"
		class="edu.asu.spring.quadriga.db.sql.workbench.DBConnectionModifyProjCollabManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionModifyProjectManagerBean"
		class="edu.asu.spring.quadriga.db.sql.workbench.DBConnectionModifyProjectManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionRetrieveProjCollabManagerBean"
		class="edu.asu.spring.quadriga.db.sql.workbench.DBConnectionRetrieveProjCollabManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionRetrieveProjectManagerBean"
		class="edu.asu.spring.quadriga.db.sql.workbench.DBConnectionRetrieveProjectManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionProjectAccessManagerBean"
		class="edu.asu.spring.quadriga.db.sql.workbench.DBConnectionProjectAccessManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
 -->
	<bean id="DBConnectionArchiveWSMangerBean"
		class="edu.asu.spring.quadriga.db.sql.workspace.DBConnectionArchiveWSManger">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionListWSManagerBean"
		class="edu.asu.spring.quadriga.db.sql.workspace.DBConnectionListWSManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionModifyWSManagerBean"
		class="edu.asu.spring.quadriga.db.sql.workspace.DBConnectionModifyWSManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionWSAccessManagerBean"
		class="edu.asu.spring.quadriga.db.sql.workspace.DBConnectionWSAccessManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionRetrieveWSCollabManagerBean"
		class="edu.asu.spring.quadriga.db.sql.workspace.DBConnectionRetrieveWSCollabManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
		<bean id="DBConnectionModifyWSCollabManagerBean"
		class="edu.asu.spring.quadriga.db.sql.workspace.DBConnectionModifyWSCollabManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="DBConnectionEditorAccessManagerBean"
		class="edu.asu.spring.quadriga.db.sql.editor.DBConnectionEditorAccessManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionProfileManagerBean"
		class="edu.asu.spring.quadriga.db.sql.profile.DBConnectionProfileManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	

	<!--  Hibernate session factory injection -->
	<bean id = "transactionManager" class = "org.springframework.orm.hibernate4.HibernateTransactionManager">
    	<property name = "sessionFactory" ref = "sessionFactory" />
	</bean>		
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />

		<property name="url" value="jdbc:mysql://localhost:3306/quadriga" />
		<property name="username" value="dbadmin" />
		<property name="password" value="dbadmin" />

	</bean>
</beans>