<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="DBConnectionManagerBean" class="edu.asu.spring.quadriga.db.sql.DBConnectionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="DBConnectionProjectManagerBean"
		class="edu.asu.spring.quadriga.db.sql.DBConnectionProjectManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="DBConnectionDictionaryManagerBean"
		class="edu.asu.spring.quadriga.db.sql.DBConnectionDictionaryManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="DBConnectionCCManagerBean" class="edu.asu.spring.quadriga.db.sql.DBConnectionCCManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/quadriga" />

		<property name="username" value="root" />
		<property name="password" value="root" />

	</bean>

	<bean id="DspaceManager" class="edu.asu.spring.quadriga.dspace.service.impl.DspaceManager"
		init-method="start">
	</bean>

	<bean id="dspaceURL" class="java.lang.String">
		<constructor-arg>
			<value>import.hps.ubio.org</value>
		</constructor-arg>
	</bean>


	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
					<property name="marshaller" ref="jaxbMarshaller" />
					<property name="unmarshaller" ref="jaxbMarshaller" />
				</bean>
				<bean class="org.springframework.http.converter.FormHttpMessageConverter" />
				<bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/>
			</list>
		</property>
	</bean>

	<bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="classesToBeBound">
			<list>
				<value>edu.asu.spring.quadriga.domain.implementation.Community
				</value>
				<value>edu.asu.spring.quadriga.domain.implementation.Communities
				</value>
			</list>
		</property>
	</bean>

</beans>