<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<http pattern="/rest/**" auto-config="true" use-expressions="true" create-session="stateless">
		<intercept-url pattern="/rest/**" access="hasAnyRole('ROLE_QUADRIGA_USER_ADMIN','ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<http-basic/>		
		<!-- <custom-filter ref="digestFilter" after="BASIC_AUTH_FILTER" /> -->
	</http>
	
	<http auto-config="true" use-expressions="true" access-denied-page="/forbidden">
	
		<intercept-url pattern="/login*" access="permitAll" />
		<intercept-url pattern="/logout*" access="permitAll" />

		<intercept-url pattern="/resources/**" access="permitAll" />
		<intercept-url pattern="/" access="hasAnyRole('ROLE_QUADRIGA_USER_ADMIN','ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/welcome**" access="hasAnyRole('ROLE_QUADRIGA_USER_ADMIN','ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/home**" access="hasAnyRole('ROLE_QUADRIGA_USER_ADMIN','ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/workbench/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/conceptcollections/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/conceptdetails/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/searchitems/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/dictionaries/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/editing/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/networks/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/workbench/**" access="hasAnyRole('ROLE_QUADRIGA_USER_STANDARD','ROLE_QUADRIGA_USER_COLLABORATOR')"/>
		<intercept-url pattern="/auth/users/**" access="hasRole('ROLE_QUADRIGA_USER_ADMIN')"/>
		<intercept-url pattern="/requests/*" access="hasRole('ROLE_QUADRIGA_NOACCOUNT')"/>
		
		<intercept-url pattern="/**" access="denyAll" />
		
		<form-login login-page="/login" default-target-url="/auth/welcome"
			authentication-failure-url="/loginfailed" />
		<logout logout-success-url="/logout" invalidate-session="true" />
	</http>
	

	

	<ldap-server url="ldap://diging.asu.edu:10389" manager-dn="uid=admin,ou=system"
		manager-password="LDAPP@55wd" /> 

	<authentication-manager alias="authenticationManager" erase-credentials="false">
		<ldap-authentication-provider user-context-mapper-ref="QuadrigaRoleMapper"
			user-search-filter="(uid={0})" user-search-base="ou=users,o=diging"
			group-search-filter="(uniqueMember={0})" group-search-base="ou=groups, o=diging"
			group-role-attribute="cn">
		</ldap-authentication-provider>
		<authentication-provider>
	        <user-service>
	       		<user name="admin" password="xxxx" authorities="ROLE_QUADRIGA_USER_ADMIN" />
	        </user-service>
   		</authentication-provider>
	</authentication-manager>
	

	<beans:bean id="messageSource1"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<beans:property name="basename">
			<beans:value>locale/messages</beans:value>
		</beans:property>
	</beans:bean>
	
	<beans:bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<beans:property name="basename" value="classpath:locale/messages" />
		<beans:property name="cacheSeconds" value="0" />
    	<beans:property name="defaultEncoding" value="UTF-8"/>
	</beans:bean>
	
	<beans:bean id="localeChangeInterceptor"
    	class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
    	<beans:property name="paramName"><beans:value>siteLanguage</beans:value></beans:property>
	</beans:bean>

	<beans:bean id="projectconstants"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
		<beans:property name="location" value="classpath:locale/projectconstants.properties"></beans:property>
	</beans:bean>
	
	<beans:bean id="localeResolver"
    	 class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
	</beans:bean>
	<beans:bean id="LoginController" class="edu.asu.spring.quadriga.web.LoginController"/>
	<beans:bean id="urlMapping"
      class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <beans:property name="interceptors">
        <beans:list>
            <beans:ref bean="localeChangeInterceptor"/>
        </beans:list>
    </beans:property>
    <beans:property name="mappings">
        <beans:props>
            <beans:prop key="/login">LoginController</beans:prop>
        </beans:props>
    </beans:property>
</beans:bean>

	<!--Reference to Quad Database connection file-->
	<beans:import resource="spring-dbconnectionmanager.xml" />

	<!-- Reference to Quadriga roles -->
	<beans:import resource="quadriga-roles.xml" />
	
	<!-- Reference to Collaborator roles -->
	<beans:import resource="collaborator-roles.xml"/>
	
	<!-- Reference the rest settings -->
	<beans:import resource="rest-service.xml"/>
	
	<!-- Reference the rest settings -->
	<beans:import resource="cc-collaborator-roles.xml"/>
	
	<!-- Reference the rest settings -->
	<beans:import resource="dict-collaborator-roles.xml"/>
	
	
	
</beans:beans>