<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Quadriga:QuadrigaReply xmlns:Quadriga="http://www.digitalhps.org/Quadriga" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="$url/resources/restxmlschema/projectlist.xsd">
<Quadriga:file>
<Quadriga:id>$fileid</Quadriga:id>
<Quadriga:workspaceid>$workspaceid</Quadriga:workspaceid>
<Quadriga:communityList>
#foreach ($community in $list)
	<Quadriga:community>
		<Quadriga:id>$community.id</Quadriga:id>
		<Quadriga:name>$community.name</Quadriga:name>
		<Quadriga:description>$community.shortDescription</Quadriga:description>
		<Quadriga:introductoryText>$community.introductoryText</Quadriga:introductoryText>
		#foreach ($collection in $community.collections)
		<Quadriga:collection>
			<Quadriga:id>$collection.id</Quadriga:id>
			<Quadriga:name>$collection.name</Quadriga:name>
			<Quadriga:description>$collection.shortDescription</Quadriga:description>
			#foreach ($item in $collection.items)
			<Quadriga:item>
				<Quadriga:id>$item.id<Quadriga:id>
				<Quadriga:name>$item.name</Quadriga:name>
			</Quadriga:item>
			#end
		</Quadriga:collection>
		#end
	</Quadriga:community> 	
	#end
</Quadriga:communityList>
</Quadriga:file>
</Quadriga:QuadrigaReply>