<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Quadriga:QuadrigaReply xmlns:Quadriga="http://www.digitalhps.org/Quadriga" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="$url/resources/restxmlschema/mynetworks.xsd">
	<Quadriga:networkList>
		#foreach ($network in $networkList)
		<Quadriga:network>
			<Quadriga:name>$network.networkName</Quadriga:name>
			<Quadriga:id>$network.networkId</Quadriga:id>
			<Quadriga:status code="$network.status"></Quadriga:status>
			<Quadriga:projectID>$network.project.internalid</Quadriga:projectID>
			<Quadriga:workspaceID>$network.workspaceid</Quadriga:workspaceID>
			<Quadriga:uri>$url/rest/network/$network.networkId</Quadriga:uri>
		</Quadriga:network> 	
		#end
	</Quadriga:networkList>
</Quadriga:QuadrigaReply>