<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Quadriga:QuadrigaReply xmlns:Quadriga="http://www.digitalhps.org/Quadriga" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="$url/resources/restxmlschema/conceptcollections.xsd">
<Quadriga:conceptcollectionsList>

#foreach ($conceptcollection in $list)
<Quadriga:conceptcollection>
<Quadriga:name>$conceptcollection.workspace.workspaceName</Quadriga:name>
	<Quadriga:description>$conceptcollection.workspace.description</Quadriga:description>
	<Quadriga:id>$conceptcollection.workspace.workspaceId</Quadriga:id>
	<Quadriga:uri>$url/rest/workspaces/$conceptcollection.workspace.workspaceId</Quadriga:uri>
	<Quadriga:conceptcollectionname>$conceptcollection.conceptCollection.conceptCollectionName</Quadriga:conceptcollectionname>
	<Quadriga:conceptcollectiondescription>$conceptcollection.conceptCollection.description</Quadriga:conceptcollectiondescription>
	<Quadriga:conceptcollectionuri>$url/rest/conceptdetails/$conceptcollection.conceptCollection.conceptCollectionId</Quadriga:conceptcollectionuri>
	<Quadriga:createdBy>$conceptcollection.createdBy</Quadriga:createdBy>
	<Quadriga:createdDate>$conceptcollection.createdDate</Quadriga:createdDate>
	<Quadriga:updatedBy>$conceptcollection.updatedBy</Quadriga:updatedBy>
	<Quadriga:updatedDate>$conceptcollection.updatedDate</Quadriga:updatedDate>
</Quadriga:conceptcollection> 	
#end
</Quadriga:conceptcollectionsList>
</Quadriga:QuadrigaReply>