<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<QuadrigaReply xmlns:Quadriga="http://www.digitalhps.org/Quadriga" >
<Quadriga:conceptList>

#foreach ($concept in $list)
<Quadriga:concept>
	<Quadriga:pos>$concept.lemma</Quadriga:pos>
	<Quadriga:name>$concept.lemma</Quadriga:name>
	<Quadriga:description>$concept.description</Quadriga:description>
	<Quadriga:uri>$concept.id</Quadriga:uri>
</Quadriga:concept> 	
#end
</Quadriga:conceptList>
</QuadrigaReply>